{% extends 'base.html' %}
{% load staticfiles %}
{% block left_column %}
  {% for question in published_questions %}
    <!-- Post without featured image -->
    <div class="boxed  push-down-45">
      <!-- Meta without image start (Needed for WP theme)-->
      <div class="meta">
        <div class="row">
          <div class="col-xs-12  col-sm-10  col-sm-offset-1">
            <div class="meta__container--without-image">
              <div class="row">
                <div class="col-xs-12  col-sm-8">
                  <div class="meta__info">
                    <!--<span class="meta__author"><img src="images/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>-->
                    <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; {{question.published_at.date}}</span>
                  </div>
                </div>
                <!--
                <div class="col-xs-12  col-sm-4">
                  <div class="meta__comments">
                    <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post-without-image.html#disqus_thread"></a>
                  </div>
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Meta without image end -->
      <!-- Start of the blogpost -->
      <div class="row">
        <div class="col-xs-10  col-xs-offset-1">
          <!-- Start of the content -->
          <div class="post-content--front-page">
          <p><em>{{question.question}}</em></p>
          <p>- {{question.name}}</p>
          <hr />
            <!--<h2 class="front-page-title"><a href="single-post-without-image.html">{{question.title}}</a></h2>-->
            <!--<h3>{{question.subtitle}}</h3>-->
            <!--
              <blockquote class="blockquote__alternative">
                {{question.question}}
                <p><br>- {{question.name}}</p>
              </blockquote>
            -->
            {{question.response|safe}}
          </div>
          <!-- End of the content -->
    <a href="{% url 'question-detail' question.id %}">
      <div class="read-more">
        Continue reading
        <div class="read-more__arrow">
          <span class="glyphicon  glyphicon-chevron-right"></span>
        </div>
      </div>
    </a>
        </div>
      </div>
    </div>
  {% endfor %}




{% endblock %}

{% block right_column %}

<div class="side-bar boxed push-down-30">
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <div class="contact widget-featured-post">
        {% if thank_you %}
          <h4>Thanks!</h4>
          <p>Dr. Jay will respond ASAP.</p>
        {% else %}
          <h4>You need it, he's got it.</h4>
          <p>Ask Dr. Jay anything. You won't regret it.</p>
        {% endif %}
        <form action="." method="POST">{% csrf_token %}
          <input name="name" type="text" placeholder="Your name" required>
          <input name="email" type="email" placeholder="Your email address" required>
          <textarea name="question" placeholder="How may I help you?" required></textarea>
          <button class="btn btn-primary">Submit Question</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
$('#li-ask').addClass('active');
</script>
{% endblock %}
