{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead %}
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
{% endblock extrahead %}

{% block left_column %}

<div id="subscribe-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">You won't regret this!</h4>
      </div>
      <div class="modal-body">

        <p style="font-size: 12pt;">I know pop-ups are annoying, but <strong>this is for your own good!</strong></p>
        <h3>Step 1: Follow me on Twitter</h2>
        <div style="padding-left:20px">
        <a href="https://twitter.com/DrJayCanHelp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @DrJayCanHelp</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

        <h3>Step 2: Sign up to my mailing list</h3>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//helpisontheway.us9.list-manage.com/subscribe/post?u=f8f2ea587ec1afcaf97aebc71&amp;id=708c29a51b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Help straight to your inbox</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f8f2ea587ec1afcaf97aebc71_708c29a51b" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->

        <h3>Step 3: Receive at least &pound;10*</h3>
        <p>*&pound;10 worth of free flowing advice at your fingertips</p>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% for article in articles %}
<!-- Post with featured image -->
<div class="boxed  push-down-45">
  <!-- Featured image and meta start -->
  <div class="meta">
    <img class="wp-post-image" src="{{article.image.url}}" alt="Blog image" width="748" height="324">
    <div class="meta__container">
      <div class="row">
        <div class="col-xs-12  col-sm-8">
          <div class="meta__info">
            <!--<span class="meta__author"><img src="images/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>-->
            <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; {{article.published_at.date}}</span>
          </div>
        </div>
        <!--
        <div class="col-xs-12  col-sm-4">
          <div class="meta__comments">
            <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post.html#disqus_thread"></a>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
  <!-- Featured image and meta end -->
  <!-- Start of the blogpost -->
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <!-- Start of the content -->
      <div class="post-content--front-page">
        <h2 class="front-page-title"><a href="{% url 'article-detail' article.slug %}">{{article.title}}</a></h2>
        {% if article.subtitle %}
          <h3>{{article.subtitle}}</h3>
        {% endif %}
        <p>{{article.teaser|safe}}</p>
      </div>
      <!-- End of the content -->
      <a href="{% url 'article-detail' article.slug %}">
        <div class="read-more">
          Continue reading
          <div class="read-more__arrow">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endfor %}
  {% endblock left_column %}

{% block right_column %}
        <!-- Widget author -->
<div class="widget-author  boxed  push-down-30">
  <div class="widget-author__image-container">
    <div class="widget-author__avatar--blurred">
      <img src="{% static 'img/dr-jay-avatar.png' %}" alt="Avatar image" width="90" height="90">
    </div>
    <img class="widget-author__avatar" src="{% static 'img/dr-jay-avatar.png' %}" alt="Avatar image" width="90" height="90">
  </div>
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <h4>Dr. Jay Ferguson</h4>
      <p>The only friend you need.</p>
    </div>
  </div>
</div>

<div class="side-bar boxed push-down-30">
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <div class="contact widget-featured-post">
        {% if thank_you %}
          <h4>Thanks!</h4>
          <p>Dr. Jay will respond ASAP.</p>
        {% else %}
          <h4>You need it, he's got it.</h4>
          <p>Ask Dr. Jay anything. You won't regret it.</p>
        {% endif %}
        <form action="." method="POST">{% csrf_token %}
          <input name="name" type="text" placeholder="Your name" required>
          <input name="email" type="email" placeholder="Your email address" required>
          <textarea name="question" placeholder="How may I help you?" required></textarea>
          <button class="btn btn-primary">Submit Question</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% for question in published_questions %}
  <!-- Post without featured image -->
  <div class="boxed  push-down-30">
    <!-- Meta without image end -->
    <!-- Start of the blogpost -->
    <div class="row">
      <div class="col-xs-10  col-xs-offset-1">

        <!-- Start of the content -->
        <div class="post-content--front-page">
          <h2>
            <a href="{% url 'question-detail' question.slug %}">{{question.title}}</a>
          </h2>
          <h3 class="search-subtitle">{{question.subtitle}}</h3>
        </div>

        <!-- End of the content -->
        <a href="{% url 'question-detail' question.slug %}">
          <div class="read-more">
            Continue reading
            <div class="read-more__arrow">
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock right_column %}

{% block extrajs %}
<script>
$(document).ready(function(){
  console.log($.cookie("seen_dr_jay_modal"));
  if (!$.cookie("seen_dr_jay_modal")) {
    $('#subscribe-modal').modal('show');
    $.cookie("seen_dr_jay_modal", "1", {expires: 9999});
  }
});
$('#li-home').addClass('active')
</script>
{% endblock %}