{% extends 'base.html' %}
{% load staticfiles %}

{% block left_column %}

{% for article in articles %}
<!-- Post with featured image -->
<div class="boxed  push-down-45">
  <!-- Featured image and meta start -->
  <div class="meta">
    <img class="wp-post-image" src="{{article.image.url}}" alt="Blog image" width="748" height="324">
    <div class="meta__container">
      <div class="row">
        <div class="col-xs-12  col-sm-8">
          <div class="meta__info">
            <!--<span class="meta__author"><img src="images/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>-->
            <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; {{article.published_at.date}}</span>
          </div>
        </div>
        <!--
        <div class="col-xs-12  col-sm-4">
          <div class="meta__comments">
            <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post.html#disqus_thread"></a>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
  <!-- Featured image and meta end -->
  <!-- Start of the blogpost -->
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <!-- Start of the content -->
      <div class="post-content--front-page">
        <h2 class="front-page-title"><a href="{% url 'article-detail' article.slug %}">{{article.title}}</a></h2>
        {% if article.subtitle %}
          <h3>{{article.subtitle}}</h3>
        {% endif %}
        <p>{{article.teaser|safe}}</p>
      </div>
      <!-- End of the content -->
      <a href="{% url 'article-detail' article.slug %}">
        <div class="read-more">
          Continue reading
          <div class="read-more__arrow">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endfor %}
  {% endblock left_column %}

{% block right_column %}
        <!-- Widget author -->
<div class="widget-author  boxed  push-down-30">
  <div class="widget-author__image-container">
    <div class="widget-author__avatar--blurred">
      <img src="{% static 'img/dr-jay-avatar.png' %}" alt="Avatar image" width="90" height="90">
    </div>
    <img class="widget-author__avatar" src="{% static 'img/dr-jay-avatar.png' %}" alt="Avatar image" width="90" height="90">
  </div>
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <h4>Dr. Jay Ferguson</h4>
      <p>The only friend you need.</p>
    </div>
  </div>
</div>

<div class="side-bar boxed push-down-30">
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <div id="approval-div" class="contact widget-featured-post">
        <h4 class="approval-hide">Get some approval!</h4>
        <button id="approval-btn" class="btn btn-primary approval-hide" style="margin-top:20px">Am I doing OK?</button>
        <img class="approval-show" style="width:100%" src="{% static 'img/approval.jpg' %}" hidden/>
      </div>
    </div>
  </div>
</div>

<div class="side-bar boxed push-down-30">
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <div class="contact widget-featured-post">
        {% if thank_you %}
          <h4>Thanks!</h4>
          <p>Dr. Jay will respond ASAP.</p>
        {% else %}
          <h4>You need it, he's got it.</h4>
          <p>Ask Dr. Jay anything.</p>
        {% endif %}
        <form action="." method="POST">{% csrf_token %}
          <input name="name" type="text" placeholder="Your name" required>
          <input name="email" type="email" placeholder="Your email address" required>
          <textarea name="question" placeholder="How may I help you?" required></textarea>
          <button class="btn btn-primary">Submit Question</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% for question in published_questions %}
  <!-- Post without featured image -->
  <div class="boxed  push-down-30">
    <!-- Meta without image end -->
    <!-- Start of the blogpost -->
    <div class="row">
      <div class="col-xs-10  col-xs-offset-1">

        <!-- Start of the content -->
        <div class="post-content--front-page">
          <h2>
            <a href="{% url 'question-detail' question.slug %}">{{question.title}}</a>
          </h2>
          <h3 class="search-subtitle">{{question.subtitle}}</h3>
        </div>

        <!-- End of the content -->
        <a href="{% url 'question-detail' question.slug %}">
          <div class="read-more">
            Continue reading
            <div class="read-more__arrow">
              <span class="glyphicon  glyphicon-chevron-right"></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock right_column %}

{% block extrajs %}
<script>
$(document).ready(function(){
  $('#li-home').addClass('active');
  $('#approval-btn').click(function(){
    ga('send', 'event', 'button', 'click', 'get approval');
    $('.approval-hide').hide();
    $('.approval-show').show();
  })
});
</script>
{% endblock %}