{% extends 'base.html' %}
{% load staticfiles %}
{% block left_column %}
  <!-- Widget author -->
  <div class="widget-author  boxed  push-down-30">
    <div class="widget-author__image-container">
      <img class="wp-post-image" src="{% static 'img/need-help2.jpg' %}" alt="About Us image" width="748" height="324">
    </div>
    <div class="row">
      <div class="col-xs-10  col-xs-offset-1">
        <div class="widget-author__content">
          <h4>Why you need help</h4>
          <p>You need help.</p>
          <p>How do I know? Because everyone needs help, and I'm no exception. We've all been there, waking up with a heart weighed down by a lifetime of withered dreams. And we promise ourselves that "Today will be the day!" only to sink deeper into the quicksand of our own futility.</p>
          <p>No matter how hard we try, nothing changes.</p>
          <p>Rock drops on egg, egg breaks.</p>
          <p>Egg drops on rock, egg breaks.</p>
          <p>So how do we win? Start betting on the rock.</p>
          <p>Make no mistake, help is on the way, coming at you like a ton of bricks, and if you're bold enough to let it hit you head on, you'll never look back.</p>
          <p>These are not life hacks, and I'm not a life coach. This is a systematic framework for getting more out of life without changing yourself. This is self help for the rest of us.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script>
$('#li-why').addClass('active');
</script>
{% endblock %}
